/* ----------------------------- */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FCEEB5 !important;
}

.headTopLeft {
  text-align: center;
  border-bottom: solid 3px gray;
  margin: auto;
  font-weight: bold;
  padding: 5px;
  font-size: 25px;
}

.row {
  padding: 0px 15px;
}

.name {
  font-size: 25px;
  font-weight: bold;
}

.title {
  border-bottom: solid 1px gray;
}

.title__name {
  border-bottom: solid 2px rgb(51, 12, 88);
  font-weight: bold;
  font-size: 20px;
}

.avatar {
  width: 15rem;
  height: 15rem;
  border: solid 1px black;
  border-radius: 50%;
  background-color: azure;
}

.user {
  display: flex;
  align-items: center;
  margin: 20px 0px;
}

.user__detail {
  margin: 0 20px;
}

@media (max-width: 415px) {
  .user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .list__card {
    transform: scale(0.8)
  }
}

@media (max-width: 1200px) {
  .list__card {
    flex-direction: column;
    align-items: center;
  }
}

.list__card {
  display: flex;
  justify-content: space-between;
}

.mycard {
  position: relative;
  display: flex;
  width: 31.25rem;
  background-color: aliceblue;
  height: 12.5rem;
  margin: 20px 0px;
}

.mycard__left {
  position: relative;
  display: flex;
  height: inherit;
  width: 150px;
  justify-content: center;
  align-items: center;
}

.mycard__right {
  display: flex;
  height: inherit;
  position: absolute;
  flex-direction: column;
  width: 350px;
  right: 0;
  padding: 10px 0px 10px 50px;
  z-index: 11;
}

.legend {
  background: radial-gradient(rgb(255, 255, 255), rgb(243, 185, 24)) !important;
}

.rare {
  background: radial-gradient(rgb(255, 255, 255), rgb(84, 213, 230)) !important;
}

.common {
  background: radial-gradient(rgb(255, 255, 255), rgb(60, 238, 69)) !important;
}

.char {
  z-index: 1;
}

.item {
  transform: scale(0.7);
  position: absolute;
  top: -140px;
}
