<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="../static/css/style.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <title>Shop Avatar CryptoMon</title>
</head>

<body>
  <header>
    <nav id='cssmenu'>
      <div id="head-mobile"></div>
      <div class="button"></div>
      <ul>
        <li><a href='./user.html'>HOME</a></li>
        <li><a href='./event.html'>EVENT</a></li>
        <li  class='active'><a href='./shopPet.html'>SHOP</a>
          <ul>
            <li><a href='./shopPet.html'>PET</a>
            </li>
            <li><a href='./shopAvatar.html'>AVATAR</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-10" style="z-index: -1;"></div>
      <div class="headTopLeft">Shop Avatar</div>
    </div>

    <div class="row title">
      <div class="title__name">
        All Avatar
      </div>
    </div>

    <div class="list__card">
      <div class="mycard">
        <div class="mycard__left common">
          <img src="../static/media/char.png" alt="" class="char item character_data" />
          <img src="../static/IMG/Pets_data/phoenix_gen/phoenixHead0.png" alt="" class="char item head_data" />
          <img src="../static/IMG/Pets_data/phoenix_gen/phoenixWings0.png" alt="" class="item wings_data" />
          <img src="../static/IMG/Pets_data/phoenix_gen/phoenixTail0.png" alt="" class="item tail_data" />
          <img src="../static/IMG/Pets_data/phoenix_gen/phoenixHandRight0.png" alt="" class="item handRight_data" />
          <img src="../static/IMG/Pets_data/phoenix_gen/phoenixHandLeft0.png" alt="" class="item handLeft_data" />
        </div>

        <div class="mycard__right">
          <div class="row origin">origin</div>
          <div class="row birthTime">birthTime</div>
          <div class="row bonding">bonding</div>
          <div class="row level">level</div>
          <div class="button-buy">
            Buy
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script language="javascript" type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script language="javascript" type="text/javascript" src="web3.min.js"></script>
</body>

</html>
