<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/style.css">
    <link
        href="https://fonts.googleapis.com/css?family=Abel|Amatic+SC|Hammersmith+One|Indie+Flower|Jua|Kalam|Patrick+Hand"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


    <title>Document</title>
</head>

<body>
    <div class="shop_area">
        <div class="title">PETS</div>
        <div class="trade_list">
            <div class="card">
                <div class="additional legend">
                    <div class="user-card">
                        <div class="level center">
                            Level 13
                        </div>
                        <div class="points center">
                            5,312 Points
                        </div>
                        <img class="center" src="../static/media/new_char.png" alt="avatar-image">
                    </div>
                </div>
                <div class="general">
                    <h1>Chicken-man</h1>
                    <p class="stat">Origin: <span class="origin">Phoenix</span></p>
                </div>
            </div>

            <div class="card">
                <div class="additional rare">
                    <div class="user-card">
                        <div class="level center">
                            Level 13
                        </div>
                        <div class="points center">
                            5,312 Points
                        </div>
                        <img class="center" src="#" alt="avatar-image">
                    </div>
                </div>
                <div class="general">
                    <h1>Jane Doe</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie
                        lacus. Nam vestibulum sodales odio ut pulvinar.</p>
                </div>
            </div>

        </div>
    </div>
</body>

</html>